
.vs/L. Spiro NES/v14/.suo
.vs/L. Spiro NES/v17/.suo
.vs/L. Spiro NES/v17/Browse.VC.db
.vs/L. Spiro NES/v17/Browse.VC.db-shm
.vs/L. Spiro NES/v17/Browse.VC.db-wal
.vs/L. Spiro NES/v17/Browse.VC.opendb
.vs/L. Spiro NES/v17/ipch/AutoPCH/134dcd5224569c4e/LSNCPU6502.ipch
.vs/L. Spiro NES/v17/ipch/AutoPCH/21acd3cde5349b3a/LSNLSPIRONES.ipch
.vs/L. Spiro NES/v17/ipch/AutoPCH/23b3548e6bfc0dcc/LSNLSPIRONES.ipch
.vs/L. Spiro NES/v17/ipch/AutoPCH/9bb50cc7815bf3f/LSNBUS.ipch
.vs/L. Spiro NES/v17/ipch/AutoPCH/f0ca83c139fd6c30/LSNCPU6502.ipch
L. Spiro NES.VC.db
L. Spiro NES.vcxproj.user
x64/Debug/L. Spiro NES.Build.CppClean.log
x64/Debug/L. Spiro NES.log
x64/Debug/L. Spiro NES.vcxproj.FileListAbsolute.txt
x64/Release/L. Spiro NES.Build.CppClean.log
x64/Release/L. Spiro NES.log
x64/Release/L. Spiro NES.tlog/unsuccessfulbuild
x64/Release/L. Spiro NES.vcxproj.FileListAbsolute.txt
