
L. Spiro NES.VC.db
Tests/*
.vs/*
*.obj
*.ipch
Src/MiniZ/examples/*
*.recipe
*.ilk
*.enc
*.iobj
*.pdb
*.tlog
*.ipdb
Debug/*
Release/*
Research/*
Libraries/ExpressionEvaluator/.vs/*
Libraries/LSWindows/x64/Release/*
Libraries/LSWindows/.vs/*
Libraries/ExpressionEvaluator/x64/Release/*
*.sdf
*.user
*.lib
*.exe
*.idb
*.log
x64/Debug/*
x64/Release/*
Libraries/ExpressionEvaluator/x64/*
Libraries/LSWindows/x64/*
x64/Final/*
!x64/Final/BeesNES.zip
Licenses.txt
